<div class="md-padding" layout="column" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>
        <span>CommunityNet</span>
      </h3>
      <span flex></span>
      <md-button aria-label="About">
         About
      </md-button>
    </div>
  </md-toolbar>
  <!-- <md-content> -->
  	<div layout="row">
		<div flex="70">
  		<md-card>
  		  	<md-card-content layout="row">
<!--   		  	<div layout="column">
 -->			
  			<!-- </div> -->
  		  		<network flex="70" style="position:relative"
				graph="graph"
				layout-method="layoutSelected"
				></network>
				<md-content>
				    <md-input-container class="md-block" flex-gt-sm>
				        <label>Choose a year</label>
				        <md-select ng-model="yearSelected">
				          <md-option ng-repeat="year in years" value="{{year}}">
				            {{year}}
				          </md-option>
				        </md-select>
				    </md-input-container>
				    <md-input-container class="md-block" flex-gt-sm>
				        <label>Choose a layout</label>
				        <md-select ng-model="layoutSelected">
				          <md-option ng-repeat="layout in layouts" ng-value="layout.id">
				            {{layout.name}}
				          </md-option>
				        </md-select>
				    </md-input-container>
  				</md-content>
  		  	</md-card-content>
  		  </md-card>

		<!-- <h3 layout layout-align="center center">
	        <span>World Map View</span>
	    </h3> -->
		</div>
		<div flex layout="column">
			<div ng-cloak>
			  <md-content>
			    <md-tabs md-dynamic-height md-border-bottom>
			      <md-tab label="Map">
			        <md-content class="md-padding">
			        <worldmap data="partitionMap"></worldmap>
			        </md-content>
			      </md-tab>
			      <md-tab label="Meta-Clusters">
			        <md-content layout="row" class="md-padding">
				   		<metanode graph="graph" flex="50"></metanode>
						<div flex="50">
							Number of nodes: {{node_num}}<br>
							Number of edges: {{edge_num}}<br>
							Best Partition: {{partition}}
						</div>
			        </md-content>
			      </md-tab>
			    </md-tabs>
			  </md-content>
			</div>
			<div>
				<md-input-container class="md-block" flex-gt-sm>
			        <label>Choose a method</label>
			        <md-select ng-model="methodSelected">
			          <md-option ng-repeat="method in methods" value="{{method.id}}">
			            {{method.name}}
			          </md-option>
			        </md-select>
			    </md-input-container>
			    <div>
			        <span class="md-body-1">Choose number of partition</span>
				
				<md-slider flex md-discrete ng-model="clusterSelected" step="1" min="2" max="10" aria-label="Clusters">
				</md-slider>
				</div>
			</div>
			<!-- <div>
			    <div>
			        <span class="md-body-1">Filter on node degree</span>
				</div>
				<md-slider-container layout="row">
					<span flex="10">2</span>
					<md-slider flex="70" class="md-primary" flex md-discrete step="{{degreeStep}}" min="2" max="{{maxDegree}}" aria-label="degree">
					</md-slider>
					<span>{{maxDegree}}</span>
				</md-slider-container>
			</div>
			<div>
			    <div>
			        <span class="md-body-1">Filter on flow volume</span>
				</div>
				<md-slider class="md-primary" flex min="100" max="10000" aria-label="flow">
				</md-slider>
			</div> -->
			<div>
			    <!-- <md-input-container class="md-block" flex-gt-sm>
			        <label>Distribution on node centrality</label>
			        <md-select ng-model="rankSelected">
			          <md-option ng-repeat="rank in ranks" ng-value="rank.id">
			            {{rank.name}}
			          </md-option>
			        </md-select>
			    </md-input-container> -->
			    <md-list style="height:200px;overflow: scroll;">
			        <!-- <md-subheader class="md-no-sticky">Node Centrality</md-subheader> -->
			        <label>Node Centrality</label>
			        <md-list-item class="md-2-line" ng-repeat="rank in ranks" >
			         <!--  <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" /> -->
			          <div class="md-list-item-text" layout="column">
			          	<div layout="row">
			          		<p>By {{rank.name}}
				          	</p>
				          	<md-button class="md-icon-button {{active}}" ng-click="toggle()">
			          		<i class="material-icons md-light md-inactive">bubble_chart</i>
			          		</md-button>
				         </div>

						<!-- <md-button class="md-icon-button md-accent" aria-label="size">
							<i class="material-icons md-light md-inactive">bubble_chart</i>
						</md-button> -->
			          	<histogram data="rank.data" label="rank.id" id="{{$rank.id}}">
					  	</histogram>
					  	<md-slider class="md-primary" flex md-discrete step="{{degreeStep}}" min="2" max="{{maxDegree}}" aria-label="degree">
			          </div>
			        </md-list-item>
		       	</md-list>
			</div>
			<md-button class="md-raised md-primary" ng-click="write_gexf()">Download gexf</md-button>
		</div>
	</div>
  <!-- </md-content> -->
</div>



 